In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
# Import Machine Learning Model
from sklearn_extra.cluster import KMedoids
from sklearn.preprocessing import StandardScaler

In [8]:
dataset = pd.read_csv('../Tugas/data_time_series.csv',index_col='tanggal')

In [9]:
dataset

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
tanggal,,,,,,,,,,,,,,,,,,,,,
01/01/2011 00:15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
01/01/2011 00:30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
01/01/2011 00:45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
01/01/2011 01:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
01/01/2011 01:15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31/12/2014 23:00,2.538071,22.048364,1.737619,150.406504,85.365854,303.571429,11.305822,282.828283,68.181818,72.043011,...,276.945039,28200.0,1616.033755,1363.636364,29.986962,5.851375,697.102722,176.961603,651.026393,7621.621622
31/12/2014 23:15,2.538071,21.337127,1.737619,166.666667,81.707317,324.404762,11.305822,252.525252,64.685315,72.043011,...,279.800143,28300.0,1569.620253,1340.909091,29.986962,9.947338,671.641791,168.614357,669.354839,6702.702703
31/12/2014 23:30,2.538071,20.625889,1.737619,162.601626,82.926829,318.452381,10.175240,242.424242,61.188811,74.193548,...,284.796574,27800.0,1556.962025,1318.181818,27.379400,9.362200,670.763828,153.589315,670.087976,6864.864865
31/12/2014 23:45,1.269036,21.337127,1.737619,166.666667,85.365854,285.714286,10.175240,225.589226,64.685315,72.043011,...,246.252677,28000.0,1443.037975,909.090909,26.075619,4.095963,664.618086,146.911519,646.627566,6540.540541
01/01/2015 00:00,2.538071,19.914651,1.737619,178.861789,84.146341,279.761905,10.175240,249.158249,62.937063,69.892473,...,188.436831,27800.0,1409.282700,954.545455,27.379400,4.095963,628.621598,131.886478,673.020528,7135.135135

In [10]:
dataset.dtypes

MT_001    float64
MT_002    float64
MT_003    float64
MT_004    float64
MT_005    float64
           ...
MT_366    float64
MT_367    float64
MT_368    float64
MT_369    float64
MT_370    float64
Length: 370, dtype: object

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140256 entries, 01/01/2011 00:15 to 01/01/2015 00:00
Columns: 370 entries, MT_001 to MT_370
dtypes: float64(370)
memory usage: 397.0+ MB

In [16]:
dataset.isna().sum()

MT_001    40743
MT_002    35044
MT_003    35650
MT_004    35053
MT_005    35052
          ...
MT_366    35124
MT_367    35115
MT_368    35056
MT_369    35053
MT_370    70329
Length: 370, dtype: int64

In [27]:
dataset = dataset.dropna()

In [28]:
dataset.isna().sum()

MT_001    0.0
MT_002    0.0
MT_003    0.0
MT_004    0.0
MT_005    0.0
         ...
MT_366    0.0
MT_367    0.0
MT_368    0.0
MT_369    0.0
MT_370    0.0
Length: 370, dtype: float64

In [29]:
dataset.duplicated().sum()

0

In [31]:
dataset

Empty DataFrame
Columns: [MT_001, MT_002, MT_003, MT_004, MT_005, MT_006, MT_007, MT_008, MT_009, MT_010, MT_011, MT_012, MT_013, MT_014, MT_015, MT_016, MT_017, MT_018, MT_019, MT_020, MT_021, MT_022, MT_023, MT_024, MT_025, MT_026, MT_027, MT_028, MT_029, MT_030, MT_031, MT_032, MT_033, MT_034, MT_035, MT_036, MT_037, MT_038, MT_039, MT_040, MT_041, MT_042, MT_043, MT_044, MT_045, MT_046, MT_047, MT_048, MT_049, MT_050, MT_051, MT_052, MT_053, MT_054, MT_055, MT_056, MT_057, MT_058, MT_059, MT_060, MT_061, MT_062, MT_063, MT_064, MT_065, MT_066, MT_067, MT_068, MT_069, MT_070, MT_071, MT_072, MT_073, MT_074, MT_075, MT_076, MT_077, MT_078, MT_079, MT_080, MT_081, MT_082, MT_083, MT_084, MT_085, MT_086, MT_087, MT_088, MT_089, MT_090, MT_091, MT_092, MT_093, MT_094, MT_095, MT_096, MT_097, MT_098, MT_099, MT_100, ...]
Index: []

[0 rows x 370 columns]

In [30]:
dataset.shape

(0, 370)

In [11]:
ss = StandardScaler()

In [14]:
KMedo = KMedoids(n_clusters=5)

In [15]:
KMedo.fit(dataset)

MemoryError: Unable to allocate 147. GiB for an array with shape (140256, 140256) and data type float64